<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>dbname</param-name>
        <param-value>xyz_assoc</param-value>
    </context-param>
    <context-param>
        <param-name>logfile</param-name>
        <param-value>/logfile.txt</param-value>
    </context-param>
    <filter>
        <filter-name>LoggingFilter</filter-name>
        <filter-class>model.LoggingFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoggingFilter</filter-name>
        <url-pattern>/docs/*</url-pattern>
    </filter-mapping>
    <listener>
        <listener-class>model.DbListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>Front</servlet-name>
        <servlet-class>controller.FrontController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationController</servlet-name>
        <servlet-class>controller.RegistrationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessClaimController</servlet-name>
        <servlet-class>controller.ProcessClaimController</servlet-class>
    </servlet>
        <servlet>
        <servlet-name>ProcessApplicationController</servlet-name>
        <servlet-class>controller.ProcessApplicationController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistrationController</servlet-name>
        <url-pattern>/RegistrationController.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SubmitPaymentController</servlet-name>
        <servlet-class>controller.SubmitPaymentController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SubmitPaymentController</servlet-name>
        <url-pattern>/SubmitPaymentController.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SubmitClaimController</servlet-name>
        <servlet-class>controller.SubmitClaimController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SubmitClaimController</servlet-name>
        <url-pattern>/SubmitClaimController.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Front</servlet-name>
        <url-pattern>/Front</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Front</servlet-name>
        <url-pattern>/docs/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessClaimController</servlet-name>
        <url-pattern>/ProcessClaimController.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessApplicationController</servlet-name>
        <url-pattern>/ProcessApplicationController.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            20
        </session-timeout>
    </session-config>
</web-app>
